.spaced {
  margin: 2% 4%;
}

.left-margin {
  margin-left: 4%;
}

ul {
  list-style-type: none;
}

ul .form-check-input {
  margin-right: 15px;
}

i {
  font-family: fontawesome !important;
  font-style: normal;
  font-size: 1em;
  padding-left: 10px;
  z-index: 10;
}
